// importy z pliów zewnętrznych
@import "introFirstMenu";

//reset
*{ margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

//grid
.row:before, .row:after{ content: ""; display: table; clear: both; }
[class*='col-']{ float: left; min-height: 1px; width: 100%/12; padding: 12px; }
@for $i from 1 through 12 { .col-#{$i} { width: (100%/12)*$i; } }

//wysokość nagłówka i stopki
header, footer{ height: 5vh; }

//wysokość nawigacji, części głównej i alertowej
nav, #mainPart, #alerts{ height: 78vh; }

//style dla głównego kontenera zawierającego header, nav, mainPart, alert i footer
.grid-display{
  width: 1300px; margin: 0 auto; display: flex; justify-content: space-between; flex-wrap: wrap;
}

//style dla nawigacji i nagłówka
.flexForBtns{
  display: flex; flex-wrap: wrap; justify-content: space-around; align-content: flex-start;
}

//podstawowy styl dla przycisku
.basicBtn{
  width: 40%; height: 7%; font-weight: bold; font-size: 1.05em; text-shadow: 1px 1px white;
}

//tekst średniowieczny
.medievalText{ font-family: 'MedievalSharp', cursive; }

//podstawowy styl dla tekstu paragrafu
.basicText{
  text-indent: 3%; font-weight: bold; margin-top: 2%; font-size: 1.3em; text-shadow: 1px 1px white;
}

//wyśrodkowanie tekstu
.center{ text-align: center; }

//szerokości w procentach
.width15{ width: 15%; }
.width20{ width: 20%; }
.width24{ width: 24%; }
.width33{ width: 33%; }
.width49{ width: 49%; }
.width50{ width: 50%; }
.width66{ width: 66%; }
.width75{ width: 75%; }
.width90{ width: 90%; }
.width100{ width: 100%; }

//kolory tekstu
.redText{ color: red;}
.blueText{ color: blue; }
.greenText{ color: green; }
.goldText{ color: gold; }
.navyText{ color: navy; }
.blackText{ color: black; }

//tekst pogrubiony
.boldText{ font-weight: bold; }

//wielkość liter w em' ach
.fontSize08em{ font-size: 0.8em; } .fontSize09em{ font-size: 0.9em; }
.fontSize1em{ font-size: 1em; } .fontSize11em{ font-size: 1.1em; }
.fontSize12em{ font-size: 1.2em; } .fontSize13em{ font-size: 1.3em; }

//złote podkreślenie
.textUnderlineGold{ text-decoration: underline; text-decoration-color: gold; }

//odsunięcie elementu od lewej strony w procentach
.marginLeft3{ margin-left: 3%; }
.marginLeft4{ margin-left: 4%; }
.marginLeft5{ margin-left: 5%; }
.marginLeft10{ margin-left: 10%; }
.marginLeft15{ margin-left: 15%; }
.marginLeft25{ margin-left: 25%; }
.marginLeft50{ margin-left: 50%; }
.marginLeft75{ margin-left: 75%; }
.marginLeft100{ margin-left: 90%; }
.marginLeft100{ margin-left: 100%; }

//odsunięcie elementu od góry w procentach
.marginTop1{ margin-top: 1%; }
.marginTop2{ margin-top: 2%; }
.marginTop3{ margin-top: 3%; }
.marginTop4{ margin-top: 4%; }
.marginTop5{ margin-top: 5%; }
.marginTop10{ margin-top: 10%; }
.marginTop15{ margin-top: 15%; }

//odsunięcie elementu od góry w vh
.marginTop4vh{ margin-top: 4vh; }

//paddingi w procentach od góry i od dołu
.paddingUpDown1{ padding: 1% 0 1% 0; }

//kolor tła
.bckgGreen{ background-color: green; }
.bckgRed{ background-color: red; }
.bckgBlue{ background-color: blue; }
.bckgYellow{ background-color: yellow; }

//cień dla tekstu
.whiteTextShadow11{ text-shadow: 1px 1px white; }

//cień dla przycisku
.shadowForBtn{
  box-shadow: 0 1px 0 #606060, 0 2px 0 #606060, 0 3px 0 #838383, 0 4px 0 #838383, 0 5px 0 #a6a6a6,
   0 5px 0 #a6a6a6, 0 6px 0 #ededed, 0 7px 0 #ededed;
}

//warstwy
.zindex1{
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 12.5%;
}




