//reset
*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

//grid
.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
  float: left;
  min-height: 1px;
  width: 100%/12;
  padding: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} { width: (100%/12)*$i; }
}


//wysokość nagłówka i stopki
header, footer{
  height: 5vh;
}

//wysokość nawigacji, części głównej i alertowej
nav, #mainPart, #alerts{
    height: 78vh;
}

//style dla głównego kontenera zawierającego header, nav, mainPart, alert i footer
.grid-display{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//style dla intra
body{
  background: lightgray;
}

#mainPart{
  h2{
    margin-top: 25vh;
    text-align: center;
    color: navy;
    font-size: 5em;
    font-family: 'Titan One', cursive;
    font-style: italic;
    text-shadow: 0 1px 0 #0040ff,
                 0 2px 0 #0080ff,
                 0 3px 0 #00bfff,
                 0 4px 0 #00ffff,
  }

  h3{
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-family: 'Fredoka One', cursive;
    text-shadow: 0 1px 0 #484848,
                 0 2px 0 #606060,
                 0 3px 0 #787878,
                 0 4px 0 #9f9f9f;
  }
}

//style dla tytułu gry
.medievalText{
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

.gameTitle{
  color: green;
  font-weight: bold;
  font-size: 7em;
  margin-top: 22vh;
  font-style: italic;
  text-shadow: 0 1px 0 #66FF00,
               0 2px 0 #99FF33,
               0 3px 0 #CCFF66,
               0 4px 0 #FFFF99,
}

.subGameTitle{
  font-weight: bold;
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 0 1px 0 #484848,
               0 2px 0 #606060,
               0 3px 0 #787878,
               0 4px 0 #9f9f9f;
}

//style dla nawigacji i nagłówka
nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

#titleGameHeader{
  width: 100%;
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  color: green;
  font-weight: bold;
  font-size: 1.7em;
  font-style: italic;
  text-shadow: 0 1px 0 #66FF00,
               0 2px 0 #99FF33,
               0 3px 0 #CCFF66,
               0 4px 0 #FFFF99;
}

#subTitleGameHeader{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: black;
  font-size: 0.7em;
  text-shadow: 0 1px 0 lightgray,
                0 2px 0 #fff;
}

//podstawowy styl dla przycisku
.basicBtn{
  width: 40%;
  height: 7%;
  font-weight: bold;
  font-size: 1.05em;
  text-shadow: 1px 1px white;
}

//dodatkowe style dla przycisków pierwszego menu
.btnInfo, .btnLicence, .btnTutorial, .btnNewGame{
  z-index: 0;
}

.btnInfo{
  background: linear-gradient(#FFF, #FF8C00);
  box-shadow: 0 1px 0 #606060,
              0 2px 0 #606060,
               0 3px 0 #838383,
               0 4px 0 #838383,
               0 5px 0 #a6a6a6,
               0 5px 0 #a6a6a6,
               0 6px 0 #ededed,
               0 7px 0 #ededed;
}

.btnLicence{
  background: linear-gradient(#FFF, #8A2BE2);
  box-shadow: 0 1px 0 #606060,
              0 2px 0 #606060,
               0 3px 0 #838383,
               0 4px 0 #838383,
               0 5px 0 #a6a6a6,
               0 5px 0 #a6a6a6,
               0 6px 0 #ededed,
               0 7px 0 #ededed;
}

.btnTutorial{
   background: linear-gradient(#FFF, #BDB76B);
   margin-top: 1.75vh;
   box-shadow: 0 1px 0 #606060,
               0 2px 0 #606060,
                0 3px 0 #838383,
                0 4px 0 #838383,
                0 5px 0 #a6a6a6,
                0 5px 0 #a6a6a6,
                0 6px 0 #ededed,
                0 7px 0 #ededed;
 }

.btnNewGame{
  background: linear-gradient(#FFF, green);
  margin-top: 1.75vh;
  box-shadow: 0 1px 0 #606060,
              0 2px 0 #606060,
               0 3px 0 #838383,
               0 4px 0 #838383,
               0 5px 0 #a6a6a6,
               0 5px 0 #a6a6a6,
               0 6px 0 #ededed,
               0 7px 0 #ededed;
}

.btnInfo:hover, .btnLicence:hover, .btnTutorial:hover, .btnNewGame:hover{
  color: white;
  text-shadow: 1px 1px black;
}

//"symoulacja" wciśnięcia przycisków
.btnInfo:active, .btnLicence:active, .btnTutorial:active, .btnNewGame:active, #name:active, #race:active, #occupation:active, #features:active, #features2:active, #equipment:active, #skills:active, #infoCreator:active, #acceptName:active{
  transform: translate(0, 4px);
  box-shadow:  0 1px 0 #a6a6a6,
               0 2px 0 #a6a6a6,
               0 3px 0 #ededed,
               0 4px 0 #ededed;
}

//likwidacja niebieskiego obramowania, gdy wciska się przycisk
.btnInfo:focus, .btnLicence:focus, .btnTutorial:focus, .btnNewGame:focus, #acceptName:focus{
  outline: none;
}

//style dla informacji pierwszego menu
.basicText{
  text-indent: 3%;
  font-weight: bold;
  margin-top: 2%;
  font-size: 1.3em;
  text-shadow: 1px 1px white;
}

//style dla przycisków kreatora postaci
#name, #race, #occupation, #features, #features2, #equipment, #skills, #infoCreator{
  z-index: 1;
  box-shadow: 0 1px 0 #606060,
              0 2px 0 #606060,
               0 3px 0 #838383,
               0 4px 0 #838383,
               0 5px 0 #a6a6a6,
               0 5px 0 #a6a6a6,
               0 6px 0 #ededed,
               0 7px 0 #ededed;
}

#occupation, #features, #features2, #equipment, #skills, #infoCreator{
  margin-top: 1.5vh;
}

#name{ background: linear-gradient(#CC99FF, #9900CC); }
#race{ background: linear-gradient(#FF0033, #990033); }
#occupation{ background: linear-gradient(#66CCCC, #006666); }
#features{ background: linear-gradient(#66CC66, #339966); }
#features2{ background: linear-gradient(#66CC33, #006600); }
#equipment{ background: linear-gradient(#CCFF00, #666600); font-size: 0.85em; }
#skills{ background: linear-gradient(#CCCC99, #666633); font-size: 0.77em; }
#infoCreator{ background: linear-gradient(#878787, #3A3A3A); }

.goldUnderline{
  text-decoration: underline;
  text-decoration-color: gold;
}

//style dla części opisowej w kreatorze postaci.
#nameDescription, #raceDescription, #occupationDescription, #choosenDescription, #featuresDescription, #features2Description, #equipmentDescription, #skillsDescription, #infoDescription{
  margin-top: 2%;
  font-weight: bold;
  font-size: 1.1em;
  text-indent: 3%;
}

//style dla części nadawania imienia
#giveName{
  margin-top: 5%;
  margin-left: 25%;
  height: 4.6%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

#acceptName{
  width: 20%;
  height: 6.5%;
  background: linear-gradient(#33FF00, #006600);
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 5%;
  box-shadow: 0 1px 0 #606060,
              0 2px 0 #606060,
               0 3px 0 #838383,
               0 4px 0 #838383,
               0 5px 0 #a6a6a6,
               0 5px 0 #a6a6a6,
               0 6px 0 #ededed,
               0 7px 0 #ededed;
}

//kolor czcionki
.redText{ color: red; font-weight: bold; }
.greenText{ color: green; font-weight: bold; }

//style dla features2Main - wybór cech koloru skóry, oczu, włosów, wagi, wzrostu i płci
#features2Main{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#features2MainSex, #features2MainHair, #features2MainEyes, #features2MainSkins, #features2MainWeight, #features2MainGrowth{
  width: 100%;
  text-align: center;
  margin-top: 1.5%;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: gold;
  font-size: 1.2em;
}

.btnsFeatures2{
  width: 24%;
  height: 25px;
  font-weight: bold;
  font-size: 1.05em;
}

.floatLeft{ float: left; }
.clearFloat{ clear: both; }
.bold{ font-weight: bold; }
.width15{ width: 15%; }

#divInfoOne{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#nameResult, #raceResult, #occupationResult{
  text-align: center;
  width: 30%;
  font-weight: bold;

#nameInfo, #raceInfo, #occupationInfo{
  padding-top: 5px;
  font-size: 1.1em;
  text-decoration: underline;
  text-decoration-color: navy;
}

#nameInfoSub, #raceInfoSub, #occupationInfoSub{
    font-size: 1.25em;
}
}
