//reset
*{
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

//grid
.row:before, .row:after{
    content: "";
    display: table;
    clear: both;
}

[class*='col-']{
  float: left;
  min-height: 1px;
  width: 100%/12;
  padding: 12px;
}

@for $i from 1 through 12 {
  .col-#{$i} { width: (100%/12)*$i; }
}


//wysokość nagłówka i stopki
header, footer{
  height: 5vh;
}

//wysokość nawigacji, części głównej i alertowej
nav, #mainPart, #alerts{
    height: 78vh;
}

//style dla głównego kontenera zawierającego header, nav, mainPart, alert i footer
.grid-display{
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

//style dla intra
body{
  background: lightgray;
}

#mainPart{
  h2{
    margin-top: 25vh;
    text-align: center;
    color: navy;
    font-size: 5em;
    font-family: 'Titan One', cursive;
    font-style: italic;
    text-shadow: 0 1px 0 #0040ff,
                 0 2px 0 #0080ff,
                 0 3px 0 #00bfff,
                 0 4px 0 #00ffff,
  }

  h3{
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    font-family: 'Fredoka One', cursive;
    text-shadow: 0 1px 0 #484848,
                 0 2px 0 #606060,
                 0 3px 0 #787878,
                 0 4px 0 #9f9f9f;
  }
}

//style dla tytułu gry
.medievalText{
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

.gameTitle{
  color: green;
  font-weight: bold;
  font-size: 7em;
  margin-top: 22vh;
  font-style: italic;
  text-shadow: 0 1px 0 #66FF00,
               0 2px 0 #99FF33,
               0 3px 0 #CCFF66,
               0 4px 0 #FFFF99,
}

.subGameTitle{
  font-weight: bold;
  font-size: 2.5em;
  font-style: italic;
  text-shadow: 0 1px 0 #484848,
               0 2px 0 #606060,
               0 3px 0 #787878,
               0 4px 0 #9f9f9f;
}
